body {
  background: white;
}

header {
  background: #008080; 
  height: 55px; 
  font-family: 'Courgette', cursive;
  font-size: 45px; 
  font-style: italic;
}

nav {
  background: #808080;
  height: 35px; 
  font-size: 25px; 
  font-family: 'Roboto Condensed', sans-serif;
  text-align: right;

}

li {
  width: 30%;
  margin: 2px; 
  padding: 2px; 
  height: 30%; 
  position: relative;
  float: left; 
} 

img {
  background: white; 
  object-fit: contain;
  height: 200px;
  width: 200px;
  border: 5px solid gray; 
  border-radius: 15px;
  margin: 50px;
  padding: 50px; 
}

canvas {
  background: white;
  border: solid white 2px;
  display: block; 
  margin: auto; 
  bottom: 5px;
}

